*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.intro{
	background: #EAF0F1;
}

.body-bg {
background-color: #97adcc;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%2397adcc' width='11' height='11'/%3E%3Crect fill='%2396afcd' x='10' width='11' height='11'/%3E%3Crect fill='%2395b0ce' y='10' width='11' height='11'/%3E%3Crect fill='%2394b2cf' x='20' width='11' height='11'/%3E%3Crect fill='%2393b3d0' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%2392b5d1' y='20' width='11' height='11'/%3E%3Crect fill='%2391b6d2' x='30' width='11' height='11'/%3E%3Crect fill='%2390b8d3' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%238fb9d3' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%238ebbd4' y='30' width='11' height='11'/%3E%3Crect fill='%238ebcd5' x='40' width='11' height='11'/%3E%3Crect fill='%238dbed5' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%238dbfd5' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%238cc1d6' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%238cc2d6' y='40' width='11' height='11'/%3E%3Crect fill='%238bc4d6' x='50' width='11' height='11'/%3E%3Crect fill='%238bc5d6' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%238bc7d6' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%238bc8d6' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%238bc9d5' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%238ccbd5' y='50' width='11' height='11'/%3E%3Crect fill='%238cccd5' x='60' width='11' height='11'/%3E%3Crect fill='%238dcdd4' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%238ecfd4' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%238ed0d3' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%238fd1d3' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2391d2d2' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2392d4d2' x='70' width='11' height='11'/%3E%3Crect fill='%2393d5d1' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2395d6d0' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2397d7cf' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2398d8ce' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%239ad9cd' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%239cdbcd' x='80' width='11' height='11'/%3E%3Crect fill='%239fdccc' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23a1ddcb' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23a3deca' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23a6dfc9' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23a9e0c8' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23abe1c7' x='90' width='11' height='11'/%3E%3Crect fill='%23aee1c6' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23b1e2c5' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23b4e3c4' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23b7e4c3' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23bae5c2' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23bde6c1' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23c0e6c0' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23c4e7bf' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23c7e8bf' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23cae9be' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23cee9bd' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23d1eabd' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23d5eabc' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23d8ebbc' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23dcecbc' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23dfecbb' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23e3edbb' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23e7edbb' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eaeebb' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

h1{
	color: #4C4B4B;
	font-weight: bold;
	transition: 0.5s;
}
h3{
	color:#2F363F;
}
button{
	border:none;
	border-radius: 8px;
	padding: 10px;
	background:#7B8788; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#4C4B4B;
}


.infrastructure-quotes{
  border-radius: 100px;
  height: 200px;
  width: 80%;
  margin-left: 140px;
  margin-top: 150px;
}
.infrastructure-quotes .infrastructure-quote marquee{
  height: 100px;
  margin-top: -200px;
  width: 80%;
}

.infrastructure-quotes .infrastructure-quote  h2{
  margin-left: 80px;
  font-size: 37px;
  margin-top: 15px;
  color: #fff;
  font-family: 'Lato', serif;

}

.infrastructure-quotes .infrastructure-quote  p{
  float: right;
  font-size: 30px;
  margin-right: 100px;
  margin-top: -30px;
  color: #fff;
  font-family: 'Lato', serif;
}


footer{
	color:#586776;
	background-color:#edfdff;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}

@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 100px;
	}
}